@import 'base/mixins';
.header{
    background-color: $verde;
    h1{
        color: $blanco;
    }
}

.navegacion-principal{
    a{
        color: $blanco;
        font-size: 2.4rem;
    }
    a:hover{
        color: $amarillo;
    }
}

.prueba{
    @include heading;
}