@import 'base/mixins';

.video{
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(91,0,181);
        background: linear-gradient(270deg, rgba(91,0,181,0.5) 0%, rgba(251,25,189,0.3) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    video{
        width: 100%;
        display: block;
    }
}

.contenido-video{
    z-index: 10;
    h2{
        color: $blanco;
        font-size: 7rem;
        margin: 0;
    }
    p{
        background-color: $rosa;
        display: inline-block;
        padding: 1rem 2rem;
        color: $blanco;
        font-size: 2.4rem;
    }
}